:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #FFFFF0;
  background-color: #352f36;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: grid;
  align-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1;
}

.date {
  font-size: 120%;
  font-weight: 600;
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #352f36;
    background-color: #FAF9F6;
  }
}

h1, h2 {
  text-align: center;
  margin: 0.625rem 0;
}

h2 {
  margin-top: 0;
}

#info {
  text-align: center;
  font-size: 1.125rem;
  font-weight: lighter;
  margin-top: 0.8125rem;
}
